language: node_js
cache:
  directories:
    - ~/.npm
notifications:
node_js:
  - '6'
before_script:
  - npm prune
after_success:
  - npm run semantic-release
branches:
  except:
    - /^v\d+\.\d+\.\d+$/